<div data-role="page">

	<%- partial("partials/_header") %>

	<div role="main" class="ui-content">
		<p>Page content goes here.</p>
		<a href="start/index.html" class="ui-btn">Start</a>
	</div><!-- /content -->

</div><!-- /page -->