<div data-role="page">

	<%- partial("../_partials/_header_back") %>

	<div role="main" class="ui-content">
		<h2>History</h2>

		<img src="../img/history.png" alt="Get rid of bad sitting habits in just one week - with Straighten Up!" class="img-responsive">

	</div><!-- /content -->

</div><!-- /page -->