<div data-role="page" class="welcome">

	<%- partial("../_partials/_header") %>

	<div role="main" class="ui-content">
		<p>Welcome to</p>
		<h2>Straighten Up!</h2>
		<p>To start improving your posture, you have to initialize your posture, first.</p>
		<a href="/start/initialize.html" class="ui-btn ui-btn-inline ui-icon-check ui-btn-icon-left">Start</a>
	</div><!-- /content -->

</div><!-- /page -->