<div data-role="page">

	<%- partial("../partials/_header") %>

	<div role="main" class="ui-content">
		<h2>Start.</h2>
		<a href="/start/initialize.html" class="ui-btn">Ready</a>
	</div><!-- /content -->

</div><!-- /page -->