<div data-role="page">

	<%- partial("../_partials/_header") %>

	<div role="main" class="ui-content">
		<h2>Initialized!</h2>
		<div class="posture-voodoo"></div>		
		<a href="/" class="ui-btn ui-btn-inline ui-icon-star ui-btn-icon-left">Save</a>
		<a href="/start/initialize.html" class="ui-btn ui-btn-inline ui-icon-refresh ui-btn-icon-left">Try again</a>
	</div><!-- /content -->

</div><!-- /page -->