<div data-role="page">

	<%- partial("../_partials/_header") %>

	<div role="main" class="ui-content">
		<h2>Initialize…</h2>
		<div class="posture-voodoo" data-target="/start/initialized.html">
			<img src="../img/posture-medium.jpg" alt="Medium Posture" class="img-responsive">
		</div>
		<p>Please sit straight up!</p>
		<a href="/" class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left">Cancel</a>
	</div><!-- /content -->

</div><!-- /page -->