<div data-role="page">

	<%- partial("../partials/_header") %>

	<div role="main" class="ui-content">
		<h2>Initialize</h2>
		<a href="/" class="ui-btn">Ready</a>
	</div><!-- /content -->

</div><!-- /page -->