<div data-role="page">

	<%- partial("_partials/_header") %>

	<div role="main" class="ui-content">

		<p>Your current posture: <strong>bad</strong></p>

		<div class="posture-voodoo" data-target="/index.html">
			<img src="img/posture-bad.jpg" alt="Bad Posture" class="img-responsive">
		</div>

		<%- partial("_partials/_main_nav") %>

	</div><!-- /content -->

</div><!-- /page -->