<div data-role="page">

	<%- partial("_partials/_header") %>

	<div role="main" class="ui-content">

		<p>Your current position:</p>

		<div class="posture-voodoo" data-target="/"></div>

		<div data-role="controlgroup" data-type="horizontal" class="home-nav">
		    <a href="/history/" class="ui-btn ui-corner-all ui-icon-clock ui-btn-icon-left">History</a>
		    <a href="/settings/" class="ui-btn ui-corner-all ui-icon-gear ui-btn-icon-left">Settings</a>
		    <a href="/extras/" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-left">Extras</a>
		</div>

	</div><!-- /content -->

</div><!-- /page -->