<div data-role="header">
	<a href="#" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-back ui-btn-icon-notext" data-rel="back">Back</a>

	<h1>Straighten Up!</h1>
</div><!-- /header -->