<div data-role="controlgroup" data-type="horizontal" class="main-nav">
	<a href="/history/" class="ui-btn ui-corner-all ui-icon-clock ui-btn-icon-top">History</a>
	<a href="/settings/" class="ui-btn ui-corner-all ui-icon-gear ui-btn-icon-top">Settings</a>
	<a href="/extras/" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-top">Extras</a>
</div>