<div data-role="page">

    <%- partial("../_partials/_header_back") %>

    <div role="main" class="ui-content">
        <h2>Settings</h2>

        <h3>Frequency</h3>
        <form class="full-width-slider">
            <label for="slider-1" class="ui-hidden-accessible">Slider:</label>
            <input type="range" name="slider-1" id="slider-1" min="1" max="5" step="1" value="1" data-show-value="true">
        </form>

        <h3>Sensitivity</h3>
        <form class="full-width-slider">
            <label for="slider-2" class="ui-hidden-accessible">Slider:</label>
            <input type="range" name="slider-2" id="slider-2" min="0" max="100" value="50">
        </form>

        <h3>Intensity</h3>
        <form class="full-width-slider">
            <label for="slider-3" class="ui-hidden-accessible">Slider:</label>
            <input type="range" name="slider-3" id="slider-3" min="0" max="100" value="50">
        </form>

        <a href="/start/" class="ui-btn">Recalibrate</a>
    </div><!-- /content -->

</div><!-- /page -->