<div data-role="page">

	<%- partial("../_partials/_header_back") %>

	<div role="main" class="ui-content">
		<h2>Exercises</h2>

		<h3>Squats</h3>
		<p>Do some squats to improve your back health.</p>

		<img src="../img/squat.png" alt="Do some squats to improve your back health." class="img-responsive">

	</div><!-- /content -->

</div><!-- /page -->